<h2>Result 2: Axios</h2>
<p>Name <em><%= githubData.name %></em></p>
<p>Username <em><%= githubData.login %></em></p>
<p>Bio <em><%= githubData.bio %></em></p>
<p>Twitter Username: <em><%=githubData['twitter_username']%></em></p>
<p>Followers: <em><%=githubData.followers%></em></p>